<%= form_with model: @recipe do |f| %>
  <div class="col-4">
    <%= f.label :title %>
    <%=f.text_field :title, placeholder: "Recipe title" %>
  </div>

  <div>
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty, placeholder: "Difficulty of the recipe" %>
  </div>

  <div>
    <%= f.label :cook_time %>
    <%= f.number_field :cook_time, placeholder: "Cook time of the recipe" %>
  </div>

  <div>
    <%= f.rich_textarea :content %>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
